@model EshopSolution.WebApp.Models.HomeViewModel
@using EshopSolution.ViewModels.Catalog.Products
@using LazZiya.ExpressLocalization
@inject ISharedCultureLocalizer _loc
@{
    var culture = CultureInfo.CurrentCulture.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section slider{
    <div id="carouselBlk">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                @foreach (var slide in Model.Slides)
                {
                    <div class="item">
                        <div class="container">
                            <a href=@slide.Url><img style="width:100%" src="@slide.Image" alt="@slide.Name" /></a>
                            <div class="carousel-caption">
                                <h4>@slide.Name</h4>
                                <p>@slide.Desciption</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
}

<div class="span9">
    <div class="well well-small">
        <h4><localize>Featured Products</localize><small class="pull-right">200+ featured products</small></h4>
        <div class="row-fluid">
            <div id="featured" class="carousel slide">
                <div class="carousel-inner">
                    @{
                        List<List<ProductViewModel>> listOfFeaturedProduct = new List<List<ProductViewModel>>();
                        List<ProductViewModel> productViewModels = new List<ProductViewModel>();
                    }

                    @for (int index = 0; index < Model.FeaturedProducts.Count; index++)
                    {
                        productViewModels.Add(Model.FeaturedProducts[index]);
                        if (index % 4 == 3 || index == Model.FeaturedProducts.Count - 1)
                        {
                            listOfFeaturedProduct.Add(productViewModels);
                            productViewModels = new List<ProductViewModel>();
                        }
                    }
                    @foreach (List<ProductViewModel> list in listOfFeaturedProduct)
                    {
                        <div class="item active">
                            <ul class="thumbnails">
                                @foreach (ProductViewModel item in list)
                                {
                                    <li class="span3">
                                        <div class="thumbnail">
                                            <i class="tag"></i>
                                            <a href="/@culture/@_loc["detail"]/@item.ProductId"><img src="@item.ThumbnailImage" alt="@item.Name"></a>
                                            <div class="caption">
                                                <h5>@item.Name</h5>
                                                <h4><a class="btn" href="/@culture/@_loc["detail"]/@item.ProductId"><localize>VIEW</localize></a> <span class="pull-right">@((int)item.Price)</span></h4>
                                            </div>
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                    }


                </div>
                <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#featured" data-slide="next">›</a>
            </div>
        </div>
    </div>
    <h4><localize>Latest Products</localize> </h4>
    <ul class="thumbnails">
        @foreach (ProductViewModel item in Model.LatestProducts)
        {
            <li class="span3">
                <div class="thumbnail">
                    <a href="/@culture/@_loc["detail"]/@item.ProductId"><img src="@item.ThumbnailImage" alt="@item.Name" /></a>
                    <div class="caption">
                        <h5>@item.Name</h5>
                        <p>
                            @item.Description
                        </p>
                        <h4 style="text-align:center">
                            <a class="btn" href="/@culture/@_loc["detail"]/@item.ProductId">
                                <i class="icon-zoom-in"></i>
                            </a>
                            <a class="btn btn-add-cart" href="#" data-id="@item.ProductId">
                                <localize>Add to</localize>
                                <i class="icon-shopping-cart"></i>
                            </a>
                            <a class="btn success" >@((int)item.Price)</a>
                        </h4>
                    </div>
                </div>
            </li>
        }

    </ul>
</div>
