@using EshopSolution.ViewModels.Common
@using EshopSolution.ViewModels.Catalog.Products
@using EshopSolution.Data.Enums 
@model PageResult<ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Danh sách sản phẩm ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Scripts{
    <script>
        setTimeout(function () {
            $("#SuccessMeg").fadeOut('slow');
        }, 2000);
    </script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body class="sb-nav-fixed">
    <div>
        <div class="d-flex justify-content-center">
            <h3>Danh sách sản phẩm </h3>
        </div>
        <a href="/">Trang chủ</a>
        <div class="card-header">
            <form asp-action="Index" method="get">
                <div class="row d-flex">
                    <div class="p-2">
                        <a class="btn btn-success" asp-action="Create" asp-controller="Product">Tạo mới</a>
                    </div>
                    <div class="ml-auto p2">
                        <div class="d-flex justify-content-end">

                            <select name="status" onchange="this.form.submit()" asp-items="@ViewBag.Statuss" class="form-control">
                                <option>--Trạng thái--</option>
                            </select>
                            <select name="categoryId" onchange="this.form.submit()" asp-items="@ViewBag.Categories" class="form-control">
                                <option>--Chọn danh mục--</option>
                            </select> &nbsp;
                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" /> &nbsp;

                            <button type="submit" class="btn btn-primary">Tìm</button> &nbsp;
                            <button type="button" onclick="window.location.href='/Product/Index'" class="btn btn-dark">Reset</button>


                        </div>


                    </div>
                </div>

            </form>

        </div>
        <div>
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="SuccessMeg" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Mã sản phẩm
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Giá nhập
                        </th>
                        <th>
                            Giá bán
                        </th>
                        <th>
                            Tồn kho
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Item)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductId)
                            </td>
                            <td id="name_@item.ProductId">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="status">
                                @item.Status
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OriginalPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>

                            <td>
                                <div class="d-flex justify-content-center">
                                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.ProductId }) &nbsp;|&nbsp;
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.ProductId }) &nbsp;|&nbsp;
                                    <a href="" data-toggle="modal" data-name="@item.Name" data-target="#deleteProductModal" onclick="holdData(this)" data-id="@item.ProductId">Xóa</a>&nbsp;|&nbsp;
                                    @Html.ActionLink("Gán danh mục", "CategoryAssign", new { id = item.ProductId })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
    <input id="nameProduct" hidden />
    <input id="idProduct" hidden />

    <!--Modal delete product -->
    <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex justify-content-center">
                        <h5 id="ModalLabel">Thông báo</h5>
                    </div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="deleteMeg"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger" onclick="deleteProduct()">Xóa</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function holdData(item) {
            var name = $(item).attr("data-name");
            var id = $(item).attr("data-id");
            $("#nameProduct").val(name);
            $("#idProduct").val(id);
            $("#deleteMeg").text("Bạn muốn xóa " + name);

        }
        $(function () {

            $("#deleteProductModal").on('show.bs.modal', function () {
                name = $("#nameProduct").val();
                
            });


        });
        function deleteProduct() {
            var productId = $("#idProduct").val();
            $.ajax({
                type: "POST",
                url: "/Product/Delete",
                data: { id: productId },
                success: function(res){
                    location.reload();
                }
            })
        };
        $(document).ready(function () {
            var statuss = document.getElementsByClassName('status');
            for (var i = 0; i < statuss.length; i++) {
                console.log(statuss[i].innerHTML);
                if (statuss[i].innerText == "Active")
                    statuss[i].style.color = "#28a745";
                else
                    statuss[i].style.color = "#dc3545";
            }
        });


    </script>
</body>
</html>