@using EshopSolution.ViewModel.Common
@using EshopSolution.ViewModel.Catalog.Products
@model PageResult<ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Danh sách sản phẩm ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Scripts{
    <script>
        setTimeout(function () {
            $("#SuccessMeg").fadeOut('slow');
        }, 2000);
    </script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body class="sb-nav-fixed">

    <div class="card-body">
        <h1>Danh sách sản phẩm </h1>
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Product">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <form asp-action="Index" method="get">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <select name="categoryId" onchange="this.form.submit()" asp-items="@ViewBag.Categories" class="form-control">
                                            <option>--Chọn danh mục--</option>
                                        </select>
                                    </div>
                                    <div class="cold-md-3">
                                        <button type="submit" class="btn btn-primary">Tìm</button>
                                        <button type="button" onclick="window.location.href='/Product/Index'" class="btn btn-dark">Reset</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="SuccessMeg" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Mã sản phẩm
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Giá nhập
                        </th>
                        <th>
                            Giá bán
                        </th>
                        <th>
                            Tồn kho
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Item)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OriginalPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>

                            <td>
                                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.ProductId }) |
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.ProductId }) |
                                @Html.ActionLink("Xóa", "Delete", new { id = item.ProductId }) |
                                @Html.ActionLink("Gán danh mục","CategoryAssign", new { id = item.ProductId})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</body>
</html>