@using EshopSolution.ViewModels.Common
@model List<ImageViewModel>
@{
    ViewData["Title"] = "UpdateProductImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .img {
        width: 100%;
    }

    .column {
        float: left;
        width: 25%;
        padding: 10px;
    }

        .column img {
            opacity: 0.8;
            cursor: pointer;
        }

            .column img:hover {
                opacity: 1;
            }
</style>

<br />
<div class="d-flex justify-content-center">
    <h3>Cập nhật hình ảnh</h3>
</div>
<div>
    <a href="/Product/Edit/@ViewBag.ProductId">Quay lại</a>

</div>
<br />
<div class="row">

    <div class="col-md">
        <img id="expandImg" class="img-fluid" style="border-radius:8px" />

        <div class="row">
            @{
                if (Model != null && Model.Count != 0)
                    foreach (var image in Model)
                    {
                        <div class="column">
                            <img src="@image.ImagePath" class="img-fluid" alt="@image.Caption" data-id="@image.Id" onclick="extend(this)" id="@image.Id" />
                        </div>

                    }
            }


        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" id="btnAddImgae" data-toggle="modal" data-target="#addImageModal">THêm ảnh</button>
        </div>


    </div>
    <div class="col-md">
        <br />
        <br />
        <br />
        <br />
        <div class="form-group">

            <label class="control-label">Chú Thích</label>
            <input id="inputEditCaption" type="text" class="form-control" />

        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" onclick="setThumnail()">Đặt làm ảnh đại diện</button>
        </div>
        <br />
        <div class="d-flex justify-content-center">

            <button class="btn btn-primary" onclick="updateImage() "> Cập nhật</button>
            &nbsp;
            <button type="button" class="btn btn-secondary" onclick="deleteImage()">Xóa</button>
        </div>
        <br />
        <div class="d-flex justify-content-center">
            <div id="notification" class="alert alert-success">

            </div>
            <script>
                $("#notification").fadeOut('Slow');
            </script>
        </div>

    </div>
    @if(Model.Count>0)
    {
        <input id="firstImage" value="@Model[0].Id" hidden/>
    }


</div>


<!--Add image modal-->
<div class="modal fade" id="addImageModal">
    <div class="modal-dialog modal-dialog-centered" style="width:700px;height:700px">
        <div class="modal-content">
            <!--modal header-->
            <div class="modal-header">
                <div class="d-flex justify-content-center">
                    <h4>Thêm hình ảnh cho sản phẩm</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--modal body-->

            <div class="modal-body">
                <div class="col-md">
                    <img id="imageAdd" class="img-fluid" />
                    <input type="file" id="inputImage" onchange="loadImageAdd(this.files[0])" accept="image/*" name="Chọn ảnh" />
                    <br />

                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label class="control-label">Ghi chú</label>
                        <input class="form-control" type="text" id="captionImage" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="addImage()">Thêm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    var notification = $("#notification");
    id = $("#firstImage").val();
    var imageET = document.getElementById(id);
    extend(imageET);

    function setDangerNoti(){
        notification.removeClass("alert-success");
        notification.addClass("alert-danger");
    }
    function setSuccessNoti() {
        notification.removeClass("alert-danger");
        notification.addClass("alert-sucess");
    }
    function extend(img) {
        var expandImg = document.getElementById("expandImg");
        expandImg.src = img.src;
        expandImg.parentElement.style.display = "Block";
        $(expandImg).attr("data-id", $(img).attr("data-id"));
        $.ajax({
            type: "POST",
            data:
                { id: $(expandImg).attr("data-id") }
            ,
            url: "/Product/GetImageById",
            success: function (res) {
                $("#inputEditCaption").val(res.caption);
            }
        });


    }
    function loadImageAdd(image) {
        document.getElementById("imageAdd").src = window.URL.createObjectURL(image);
    }
    function closeModal() {
        document.getElementById("addImageModal").style.display = "none";
    }
    function setThumnail() {
        var productId = @ViewBag.ProductId;
        var imageId = $("#expandImg").attr("data-id");
        $.ajax({
            type: "POST",
            url: "/Product/UpdateThumnail",
            data: {
                productId: productId,
                imageId: imageId
            },
            success: function () {
                setSuccessNoti();
                notification.fadeIn();
                hideNotification();
            }
        })
    }

    function hideNotification() {
        setTimeout(function () {
            $("#notification").fadeOut('Slow');
        }, 2000);
    }

    function addImage() {

        var caption = document.getElementById("captionImage").value;
        var file = document.getElementById("inputImage").files[0];
        var request = new FormData;
        request.append("ImageFile", file );
        request.append("ProductId", @ViewBag.ProductId);
        request.append("Caption", caption);
        request.append("SortOrder", 0);

        $.ajax({
            type: "POST",
            url: '/Product/AddImage',
            data: request,
            contentType: false,
            processData: false,

            success: function (res) {
                console.log("success");
                $('#addImageModal').modal('hide');
                location.reload();

            }

        });




    }
    function updateImage() {
        var caption = $("#inputEditCaption").val();
        var imageId = $("#expandImg").attr("data-id");
        $.ajax({
            type: "POST",
            url: '/Product/UpdateImage',
            data: {
                caption: caption,
                imageId: imageId
            },
            success: function () {
                setSuccessNoti();
                notification.fadeIn();
                hideNotification();
            }
        });
    }
    function deleteImage() {
        var imageId = $("#expandImg").attr("data-id");
        if (imageId != null) {
            $.ajax({
                type: "POST",
                url: '/Product/DeleteImage',
                data: {
                    imageId: imageId
                },
                success: function (res) {
                    if (!res.isSuccessed) {
                       
                        notification.removeClass("alert-success");
                        notification.addClass("alert-danger");
                        notification.html(res.message);
                        $("#notification").fadeIn();
                        hideNotification();
                    }else
                        location.reload();
                }

            });
        } else {
            alert("Chưa có ảnh được chọn");
        }



    }

</script>



