@using EshopSolution.ViewModels.Common
@model List<ImageViewModel>
@{
    ViewData["Title"] = "UpdateProductImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .image_area {
        position: relative;
    }

    img {
        display: block;
        max-width: 100%;
    }

    .preview {
        overflow: hidden;
        width: 160px;
        height: 160px;
        margin: 0px;
        border: 1px solid blue;
        margin :10px;
    }

    .modal-lg {
        max-width: 1000px !important;
    }

    .overlay {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        height: 0;
        transition: .5s ease;
        width: 100%;
    }

    .image_area:hover .overlay {
        height: 50%;
        cursor: pointer;
    }

    .text {
        color: #333;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .img {
        width: 100%;
    }

    .column {
        float: left;
        width: 25%;
        padding: 10px;
    }

        .column img {
            opacity: 0.8;
            cursor: pointer;
        }

            .column img:hover {
                opacity: 1;
            }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
<link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet" />
<script src="https://unpkg.com/dropzone"></script>
<script src="https://unpkg.com/cropperjs"></script>
<br />
<div class="d-flex justify-content-center">
    <h3>Cập nhật hình ảnh</h3>
</div>
<div>
    <a href="/Product/Edit/@ViewBag.ProductId">Quay lại</a>

</div>
<br />
<div class="row">
    <div class="col-md col-lg">
        <img id="expandImg" class="img-fluid" width="500" style="border-radius:8px" />

        <div class="row">
            @{
                if (Model != null && Model.Count != 0)
                    foreach (var image in Model)
                    {
                        <div class="column">
                            <img src="@image.ImagePath" class="img-fluid" alt="@image.Caption" data-id="@image.Id" onclick="extend(this)" id="@image.Id" />
                        </div>

                    }
            }


        </div>
        <div class="d-flex justify-content-center">
           
            <label class="btn btn-primary btn-upload" for="upload_image" title="Upload image file">
                Thêm ảnh
                <input type="file" class="sr-only" id="upload_image" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="Import image with Blob URLs">
                    <span class="fa fa-upload"></span>
                </span>

            </label>


        </div>


    </div>
    <div class="col-md col-lg">
        <br />
        <br />
        <br />
        <br />
        <div class="form-group">

            <label class="control-label">Chú Thích</label>
            <input id="inputEditCaption" type="text" class="form-control" />

        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" onclick="setThumnail()">Đặt làm ảnh đại diện</button>
        </div>
        <br />
        <div class="d-flex justify-content-center">

            <button class="btn btn-primary" onclick="updateImage() "> Cập nhật</button>
            &nbsp;
            <button type="button" class="btn btn-secondary" onclick="deleteImage()">Xóa</button>
        </div>
        <br />
        <div class="d-flex justify-content-center">
            <div id="notification" class="alert alert-success">

            </div>
            <script>
                $("#notification").fadeOut('Slow');
            </script>
        </div>

    </div>
    @if (Model.Count > 0)
    {
        <input id="firstImage" value="@Model[0].Id" hidden />
    }


</div>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 900px!important;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cắt hình ảnh trước khi tải lên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="" id="sample_image" />
                        </div>

                        <div class="col-md-4 d-flex justify-content-center">
                            <div class="form-row">
                                <div class="">
                                    <div class="preview"></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <label class="control-label">Chú Thích</label>
                    <input id="captionImage" type="text" class="form-control" />

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAdd" class="btn btn-primary">Thêm ảnh</button>
                <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>
<script>

        $(document).ready(function () {

            var $modal = $('#modal');

            var image = document.getElementById('sample_image');

            var cropper;
            var upload = $('#upload_image');
            upload.on('change', function (event) {
                var files = event.target.files;

                image.src = window.URL.createObjectURL(files[0]);
                $modal.modal('show');

                if (files && files.length > 0) {
                    reader = new FileReader();

                    reader.readAsDataURL(files[0]);
                }
            });

            $modal.on('shown.bs.modal', function () {
                cropper = new Cropper(image, {
                    aspectRatio: 1,
                    viewMode: 0,
                    preview: '.preview'
                });
            }).on('hidden.bs.modal', function () {
                cropper.destroy();
                cropper = null;
            });

            $('#btnAdd').click(function () {
                canvas = cropper.getCroppedCanvas({
                    width: 1000,
                    height: 1000
                });

                canvas.toBlob(function (blob) {
                    var caption = document.getElementById("captionImage").value;
                    
                    var request = new FormData;
                    request.append("ImageFile", blob,"user.png");
                    request.append("ProductId", @ViewBag.ProductId);
                    request.append("Caption", caption);
                    request.append("SortOrder", 0);

                    $.ajax({
                        type: "POST",
                        url: '/Product/AddImage',
                        data: request,
                        contentType: false,
                        processData: false,

                        success: function (res) {
                            console.log("success");
                            $('#addImageModal').modal('hide');
                            location.reload();

                        }

        });

                });
            });
        });
</script>
    <script>

    $('#getCroppedCanvasModal').on('show.bs.modal', function () {
        cropImage();
        alert("hello");
    });
    var notification = $("#notification");
    id = $("#firstImage").val();
    var imageET = document.getElementById(id);
    extend(imageET);

    function setDangerNoti(){
        notification.removeClass("alert-success");
        notification.addClass("alert-danger");
    }
    function setSuccessNoti() {
        notification.removeClass("alert-danger");
        notification.addClass("alert-sucess");
    }
    function extend(img) {
        var expandImg = document.getElementById("expandImg");
        expandImg.src = img.src;
        expandImg.parentElement.style.display = "Block";
        $(expandImg).attr("data-id", $(img).attr("data-id"));
        $.ajax({
            type: "POST",
            data:
                { id: $(expandImg).attr("data-id") }
            ,
            url: "/Product/GetImageById",
            success: function (res) {
                $("#inputEditCaption").val(res.caption);
            }
        });


    }
    function loadImageAdd(image) {
        document.getElementById("imageAdd").src = window.URL.createObjectURL(image);
    }
    function closeModal() {
        document.getElementById("addImageModal").style.display = "none";
    }
    function setThumnail() {
        var productId = @ViewBag.ProductId;
        var imageId = $("#expandImg").attr("data-id");
        $.ajax({
            type: "POST",
            url: "/Product/UpdateThumnail",
            data: {
                productId: productId,
                imageId: imageId
            },
            success: function () {
                setSuccessNoti();
                notification.fadeIn();
                hideNotification();
            }
        })
    }

    function hideNotification() {
        setTimeout(function () {
            $("#notification").fadeOut('Slow');
        }, 2000);
    }

    function addImage() {

        var caption = document.getElementById("captionImage").value;
        var file = document.getElementById("inputImage").files[0];
        var request = new FormData;
        request.append("ImageFile", file );
        request.append("ProductId", @ViewBag.ProductId);
        request.append("Caption", caption);
        request.append("SortOrder", 0);

        $.ajax({
            type: "POST",
            url: '/Product/AddImage',
            data: request,
            contentType: false,
            processData: false,

            success: function (res) {
                console.log("success");
                $('#addImageModal').modal('hide');
                location.reload();

            }

        });




    }
    function updateImage() {
        var caption = $("#inputEditCaption").val();
        var imageId = $("#expandImg").attr("data-id");
        $.ajax({
            type: "POST",
            url: '/Product/UpdateImage',
            data: {
                caption: caption,
                imageId: imageId
            },
            success: function () {
                setSuccessNoti();
                notification.fadeIn();
                hideNotification();
            }
        });
    }
    function deleteImage() {
        var imageId = $("#expandImg").attr("data-id");
        if (imageId != null) {
            $.ajax({
                type: "POST",
                url: '/Product/DeleteImage',
                data: {
                    imageId: imageId
                },
                success: function (res) {
                    if (!res.isSuccessed) {

                        notification.removeClass("alert-success");
                        notification.addClass("alert-danger");
                        notification.html(res.message);
                        $("#notification").fadeIn();
                        hideNotification();
                    }else
                        location.reload();
                }

            });
        } else {
            alert("Chưa có ảnh được chọn");
        }



    }

    </script>




