@using EshopSolution.ViewModels.Catalog.Products
@using EshopSolution.ViewModels.Catalog
@using LazZiya.ExpressLocalization
@using EshopSolution.ViewModels.Common
@model ProductDetailViewModel
@inject ISharedCultureLocalizer _loc
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}
<style>
    .img {
        width: 100%;
    }

    .column {
        float: left;
        width: 20%;
        padding: 5px;
    }

        .column img {
            opacity: 0.8;
            cursor: pointer;
        }

            .column img:hover {
                opacity: 1;
            }
</style>
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/"><localize>Home</localize></a> <span class="divider">/</span></li>
        @*<li><a href="/@_loc["CategoryUrl"]/@Model.Category.Id">@Model.Category.Name</a> <span class="divider">/</span></li>*@
        <li class="active">product Details</li>
    </ul>
    <div class="row">
        <div id="gallery" class="span3">
            <img id="expandImg" class="img-fluid" width="500"  />

            <div class="row row-fluid">
                @{
                    if (Model != null && ViewBag.Images != null)
                    {
                        <input id="firstImage" value="@ViewBag.Images[0].Id" hidden />
                        foreach (var image in ViewBag.Images)
                        {
                            <div class="column">
                                <img src="@image.ImagePath" class="img-fluid" alt="@image.Caption" data-id="@image.Id" onclick="extend(this)" id="@image.Id" />
                            </div>

                        }
                    }

                }


            </div>


        </div>
        <div class="span6">
            <h3>@Model.Product.Name</h3>
            <small>@Model.Product.Description</small>
            <hr class="soft" />
            <form class="form-horizontal qtyFrm">
                <div class="control-group">
                    <label class="control-label"><span><div class="price"><localize>Price</localize>: @((int)Model.Product.Price)</div></span></label>
                    <div class="d-flex justify-content-end">
                      
                        <button data-id="@Model.Product.ProductId" class="btn btn-add-cart btn-primary"><localize>Add to cart</localize>  <i class=" icon-shopping-cart"></i></button>
                    </div>
                </div>
            </form>

            <hr class="soft" />
            <h4 style="color:red"><localize>Stock</localize>: @Model.Product.Stock</h4>

            <hr class="soft clr" />
            <p>
                @Model.Product.Details

            </p>

        </div>


    </div>
    <br />
    <h4><localize>Related Product</localize></h4>
    <ul class="row-fluid">
        
        @foreach (ProductViewModel item in Model.RetalatedProducts)
        {
            <li class="span3">
                <div class="thumbnail">
                    <a href="/@culture/@_loc["detail"]/@item.ProductId"><img src="@item.ThumbnailImage" alt="@item.Name" /></a>
                    <div class="caption">
                        <h5>@item.Name</h5>
                        <p>
                            @item.Description
                        </p>
                        <h4 style="text-align:center">
                            <a class="btn" href="/@culture/@_loc["detail"]/@item.ProductId">
                                <i class="icon-zoom-in"></i>
                            </a>
                            <a class="btn btn-add-cart" href="#" data-id="@item.ProductId">
                                <localize>Add to</localize>
                                <i class="icon-shopping-cart"></i>
                            </a>
                            <a class="btn btn-primary">
                                <div class="price">
                                    @((int)item.Price)
                                </div>

                            </a>
                        </h4>
                    </div>
                </div>
            </li>
        }

    </ul>
    <script>
        $(function () {
            id = $("#firstImage").val();
            var imageET = document.getElementById(id);
            extend(imageET);
        })
      

       
        function extend(img) {
            var expandImg = document.getElementById("expandImg");
            expandImg.src = img.src;
            expandImg.parentElement.style.display = "Block";
            $(expandImg).attr("data-id", $(img).attr("data-id"));
            $.ajax({
                type: "POST",
                data:
                    { id: $(expandImg).attr("data-id") }
                ,
                url: "/Product/GetImageById",
                success: function (res) {
                    $("#inputEditCaption").val(res.caption);
                }
            });


        }
    </script>
</div>


